.section_status {
	span.material-icons {
		cursor: pointer;
	}
}

.table_ctrl {
	thead {
		td {
			padding-bottom: 0;
		}
	}
	td {
		padding: 1rem 0 1rem 8px;
	&:first-child {
		padding-left: 0;
	}
	}
}

.pagination {

	.active {
		color: #fff;
		background-color: $success;
	}
}