.navinfo {
  min-width: 296px;
}

.navlink {
  
  li {
    list-style: none;
    position: relative;
  }
  a:hover {
    color: $success;
    transition: all .4s;
    &::before {
      width: 4px;
    }
  }
  a::before {
    position: absolute;
    left: 0;
    content: '';
    top: -4px;
    width: 0;
    height: 2rem;
    background-color: $success;
  }
  a.active {
    width: 4px;
  }
}

.user {
  &_img {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  &_info {
    color: $gray-900;
    width: calc(100% - 4.5rem);
    span {
      color: $gray-600;
      display: block;
    }
  }
}